<?xml version="1.0" encoding="UTF-8"?>

<ResourceFile> 
	<Location>Source\Resources\Scenes\MenuResources.xml</Location> 
</ResourceFile>

<Scene> <Type>Game</Type> <ID>game_scene</ID>

	<Model> <ID>skybox</ID>
		<Mesh>skybox_mesh</Mesh>
		<Material>default_material</Material>
		<Shader>phong_shader</Shader>
		<Texture>skybox_texture</Texture>
		<Position>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>180.0f</Z>
		</Rotation>
		<Scale>
			<X>1.0f</X>
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Scale>
		<Origin>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Origin>
		<ID>
			<X>1.0f</X>
		</ID>
	</Model>
	
	<Sprite> <ID>settings_sprite</ID>
		<Shader>button_shader</Shader>
		<Texture>settings_XL_texture</Texture>
		<Position>
			<X>100.0f</X>
			<Y>100.0f</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Rotation>
		<Scale>
			<X>515.0f</X> 	
			<Y>188.0f</Y>
			<Z>0.0f</Z>
		</Scale>
		<Colour>
			<X>1.0f</X> 	
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Colour>
		<sID>
			<X>4.0f</X> 	
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</sID>
	</Sprite>
	
	<Button> <ID>main_menu_button</ID>
		<Shader>button_shader</Shader>
		<Texture>menu_texture</Texture>
		<Position>
			<X>100.0f</X>
			<Y>588</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Rotation>
		<Scale>
			<X>234.0f</X> 	
			<Y>188.0f</Y>
			<Z>0.0f</Z>
		</Scale>
		<Colour>
			<X>1.0f</X> 	
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Colour>
		<sID>
			<X>4.0f</X> 	
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</sID>
	</Button>
	
	<Button> <ID>1280_window</ID>
		<Shader>button_shader</Shader>
		<Texture>1280_texture</Texture>
		<Position>
			<X>100.0f</X>
			<Y>338.0f</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Rotation>
		<Scale>
			<X>234.0f</X> 	
			<Y>188.0f</Y>
			<Z>0.0f</Z>
		</Scale>
		<Colour>
			<X>1.0f</X> 	
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Colour>
		<sID>
			<X>6.0f</X> 	
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</sID>
	</Button>
	
	<Button> <ID>1600_window</ID>
		<Shader>button_shader</Shader>
		<Texture>1600_texture</Texture>
		<Position>
			<X>384.0f</X>
			<Y>338.0f</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Rotation>
		<Scale>
			<X>234.0f</X> 	
			<Y>188.0f</Y>
			<Z>0.0f</Z>
		</Scale>
		<Colour>
			<X>1.0f</X> 	
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Colour>
		<sID>
			<X>8.0f</X> 	
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</sID>
	</Button>
	
	<Button> <ID>1920_window</ID>
		<Shader>button_shader</Shader>
		<Texture>1920_texture</Texture>
		<Position>
			<X>668.0f</X>
			<Y>338.0f</Y>
			<Z>0.0f</Z>
		</Position>
		<Rotation>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Rotation>
		<Scale>
			<X>234.0f</X> 	
			<Y>188.0f</Y>
			<Z>0.0f</Z>
		</Scale>
		<Colour>
			<X>1.0f</X> 	
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Colour>
		<sID>
			<X>9.0f</X> 	
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</sID>
	</Button>
	
	<Light> <ID>light1</ID>
		<Type>Directional</Type>
		<Direction>
			<X>0.0f</X>
			<Y>-1.0f</Y>
			<Z>0.0f</Z>
		</Direction>
		<Ambient>
			<X>1.0f</X>
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Ambient>
		<Diffuse>
			<X>0.0f</X>
			<Y>0.0f</Y>
			<Z>0.0f</Z>
		</Diffuse>	
		<Specular>
			<X>1.0f</X>
			<Y>1.0f</Y>
			<Z>1.0f</Z>
		</Specular>
	</Light>
	
	<Camera> <ID>cam1</ID>
		<Position>
			<X>0.0f</X>
			<Y>30.0f</Y>
			<Z>70.0f</Z>
		</Position>
		<Orientation>
			<X>0.0f</X>
			<Y>20.0f</Y>
			<Z>0.0f</Z>
		</Orientation>
		<FOV>90.0f</FOV>
		<AspectRatio>1.33333</AspectRatio>
		<FarPlane>1000.0f</FarPlane>
		<NearPlane>0.1f</NearPlane>
		<RotSpeed>0.0f</RotSpeed>
		<MoveSpeed>0.0f</MoveSpeed>
	</Camera>
</Scene>

